@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./HelveticaNeue-Regular.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./HelveticaNeue-Medium.otf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./HelveticaNeue-Bold.otf') format('truetype');
  font-weight: bold;
}


