@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import './reset.css';
@import './font.css';
@import './table.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0e172a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0e172a;
}

.scrollbar-gutter {
  scrollbar-gutter: stable both-edges;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
